.App {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar Styles */

li {
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

/* Login Styles */

.errorMssg {
  color: red;
}

/* Friends Styles */

.friendsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.friendBox {
  width: 250px;
  margin: 2% 0;
  background-color: white;
  color: black;
}

.friendBox a{
  color: blue;
}